body{
  background-color: mistyrose;
}
hr{
  border-top-style: dotted;
  border-top-width: 5px;
  width: 5%;
  border-top-color: grey;
}
h1{
  color: magenta;
  font-style:normal;
}
h2{
  font-style: italic;
  color: olivedrab;
}
h3
{
  font-style: oblique;
  color: red;
}
